<?xml version="1.0" encoding="UTF-8"?>

<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-kiosk-mode"
    version="0.0.1"
>
    <name>Kiosk Mode</name>
    <description>Cordova Kiosk Mode Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,kiosk,mode,launcher,plugin</keywords>

    <engines>
	    <engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/kiosk-mode.js" name="kiosk">
        <clobbers target="window.KioskMode" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="KioskModePlugin">
                <param name="android-package" value="de.amicaldo.cordova.plugin.KioskModePlugin" />
            </feature>
        </config-file>

        <edit-config
            file="AndroidManifest.xml"
            target="/manifest/application/activity[@android:label='@string/activity_name']"
            mode="merge"
        >
            <activity
                android:name="de.amicaldo.cordova.plugin.KioskModeActivity"
                android:keepScreenOn="true"
                android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            ></activity>
        </edit-config>

        <config-file
            target="AndroidManifest.xml"
            parent="/manifest/application/activity[@android:label='@string/activity_name']"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="de.amicaldo.cordova.plugin.MyPackageReplacedEventReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" after="uses-permission">
            <uses-permission android:name="android.permission.REORDER_TASKS"></uses-permission>
            <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"></uses-permission>
        </config-file>

        <source-file
            src="src/android/KioskModePlugin.java"
            target-dir="src/de/amicaldo/cordova/plugin"
        />
        <source-file
            src="src/android/KioskModeActivity.java"
            target-dir="src/de/amicaldo/cordova/plugin"
        />
        <source-file
            src="src/android/MyPackageReplacedEventReceiver.java"
            target-dir="src/de/amicaldo/cordova/plugin"
        />
    </platform>
</plugin>
